In [1]:
import pandas as pd

In [2]:
df1 = pd.read_json('./final_results_track_1.json')
df2 = pd.read_json('./final_results_track_2.json')
df3 = pd.read_json('./final_results_track_3.json')

In [5]:
df3

         id                                              songs  tags
0       131  [94701, 280103, 298115, 228448, 404003, 56651,...   NaN
1       209  [157055, 509998, 396828, 422915, 349492, 42207...   NaN
2       346  [326204, 695032, 387859, 117169, 112399, 5049,...   NaN
3       562  [645489, 654757, 88503, 118219, 295250, 269370...   NaN
4       706  [664036, 572932, 1236, 325455, 170317, 578240,...   NaN
..      ...                                                ...   ...
794  152941  [53080, 44200, 555338, 33829, 686809, 204888, ...   NaN
795  153111  [314959, 320457, 239009, 231843, 500941, 53645...   NaN
796  153130  [357367, 300087, 516906, 95485, 446812, 576186...   NaN
797  153358  [24221, 347303, 495901, 285208, 660382, 528002...   NaN
798  153372  [707988, 235991, 235999, 235998, 235997, 23599...   NaN

[799 rows x 3 columns]